<template>
    <ArticleForm @submit="handleSubmit($event)"/>
</template>

<script setup lang="ts">
import ArticleForm from '@/components/ArticleForm.vue';
import type { Article } from '@/entities';
import { createArticle } from '@/service/article-service';
import { useRouter } from 'vue-router';


const router = useRouter();
async function handleSubmit(article :Article) {
    article.date = new Date().toLocaleString('fr-FR', {
        weekday: 'short',
        day: 'numeric',
        month: 'short',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
    });
    
    await createArticle(article);
    router.push('/articles');
}

</script>
