
<template>

    <main>
        <div v-if="loading">Loading...</div>
        <div v-if="!loading" class="container-fluid py-5" style="width: 85vw;">
            <div class="row ">
                <div class="col col-xl-3 col-lg-4 col-md-6   card-group" v-for="item of ArticleList">
                    <ArticleCard :article="item" />
                </div>
            </div>
        </div>
    </main>
</template>

<script setup lang="ts">
import ArticleCard from '@/components/ArticleCard.vue';
import type { Article } from '@/entities';
import { fetchAllArticleByCategorie } from '@/service/article-service';
import { onMounted, ref, watch } from 'vue';
import { useRoute } from 'vue-router';


const ArticleList = ref<Article[]>([]);
const loading = ref(true);

const route = useRoute()

watch(() => route.params.id, async () => {
    ArticleList.value = await fetchAllArticleByCategorie(route.params.id);
    loading.value = false;
}, {immediate: true});


</script>

<style>
body{
    background-color: #1B0324;
}
</style>