<template>

    <main>
        <div v-if="loading">Loading...</div>
        <div v-if="!loading" class="container-fluid py-5" style="width: 85vw;">
            <div class="row ">
                <div class="col col-xl-3 col-lg-4 col-md-6 card-group" v-for="item of ArticleList">
                    <ArticleCard :article="item" />
                </div>
            </div>
        </div>
    </main>
</template>

<script setup lang="ts">
import ArticleCard from '@/components/ArticleCard.vue';
import type { Article } from '@/entities';
import { fetchAllArticles } from '@/service/article-service';
import { onMounted, ref } from 'vue';


const ArticleList = ref<Article[]>([]);
const loading = ref(true);


onMounted(async () => {
    ArticleList.value = await fetchAllArticles();
    loading.value = false;
});

</script>

<style>
body {
    background-color: #1B0324;
}
</style>
