<template>
    <main>
        <form @submit.prevent="handleCreateAccount()">
            <label>Pseudo :
                <input type="text" v-model="user.pseudo">
            </label>
            <label>Email :
                <input type="email" v-model="user.email">
            </label>

            <label>Password :
                <input type="password" minlength="8" required v-model="user.password">
            </label>


            <button>Créé un compte</button>
        </form>
    </main>
</template>

<script setup lang="ts">
import type { User } from '@/entities';
import { postRegister } from '@/service/auth-service';
import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const user = ref<User>({
    email: '',
    password: '',
    pseudo: '',
})

async function handleCreateAccount() {
    await postRegister(user.value);
    router.back();
}

</script>

<style scoped>
form {
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 45vw;
    align-items: end;
    background-color: rgba(255, 255, 255, 0.199);
    padding: 40px;
    border-radius: 10px;
}

main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

input {
    width: 40vw;
    margin-bottom: 20px;
}

button {
    width: 10vw;
    margin: 0 auto;
}
</style>