<template>

  <main>
    <div v-if="loading">Loading...</div>
    <div v-if="!loading" class="container-fluid py-5" style="width: 85vw;">
      <div class="row ">
        <div class="col col-xl-3 col-lg-4 col-md-6 card-group" v-for="i of trois">
          <ArticleCard v-if="ArticleList[i]" :article="ArticleList[i]"/>
        </div>
      </div>
    </div>
  </main>
</template>

<script setup lang="ts">
import ArticleCard from '@/components/ArticleCard.vue';
import type { Article } from '@/entities';
import { fetchAllArticles } from '@/service/article-service';
import { onMounted, ref } from 'vue';


const ArticleList = ref<Article[]>([]);
const loading = ref(true);
const trois = ref([0])

onMounted(async () => {
  ArticleList.value = await fetchAllArticles();
  loading.value = false;
  trois.value = [(ArticleList.value.length)-1, (ArticleList.value.length)-2, (ArticleList.value.length)-3]
  console.log(ArticleList.value.length-1);
  
});

</script>

<style>
body {
  background-color: #1B0324;
}
</style>
