<template>
    <main>
        <form @submit.prevent="handleLogin">
            <label>Email :
                <input type="email" class="form-control" v-model="email">
            </label>

            <label>Password :
                <input type="password" class="form-control" v-model="password">
            </label>

            <button type="submit" class="btn btn-light">Se connecter</button>
            <p>pas encore de compte ? <router-link to="/create-account">créé un compte</router-link></p>

        </form>
    </main>
</template>

<script setup lang="js">
import { useAuth } from '@/stores/auth';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const auth = useAuth();
const email = ref('');
const password = ref('');

async function handleLogin() {
    await auth.login(email.value, password.value);
    router.push('/');
}
</script>


<style scoped>
form {
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 45vw;
    align-items: end;
    background-color: rgba(255, 255, 255, 0.199);
    padding: 40px;
    border-radius: 10px;
}

main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

input {
    width: 40vw;
    margin-bottom: 20px;
}

button,
p {
    width: 25vw;
    margin: 10px auto;
    display: flex;
    justify-content: center;

}
</style>
