<template>
    <main>
        <Article />
        <Comm />
    </main>
</template>

<script setup lang="ts">
import Article from '@/components/Article.vue'
import Comm from '@/components/Commentaire.vue'


</script>