<template>
    <form @submit.prevent="handleSubmit()">
        <div>
            <label>
                Auteur :
                <input class="form-control" v-model="comm.auteur" type="text" placeholder="écrivez votre nom ici..." required>
            </label>
        </div>
        <div id="content">
            <label>
                Contenu :
                <textarea class="form-control" rows="10" cols="50" v-model="comm.contenu"
                    placeholder="Contenu du commentaire..."></textarea>
            </label>

        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</template>

<style scoped>
form {
    padding: 25px;
    width: 35vw;
    height: 80vh;
    border: .1px solid black;
}

#content {
    padding: 20px 0;
}
</style>

<script setup lang="ts">
import type { Commentaire } from '@/entities';
import { createCommentaire } from '@/service/commentaire-service';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

let comm = ref<Commentaire>({
    contenu: '',
    auteur: '',
    date: '',
    articleId: 0,
});

async function handleSubmit() {
    comm.value.date = new Date().toLocaleString('fr-FR', {
        weekday: 'short',
        day: 'numeric',
        month: 'short',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
    });
    comm.value.articleId = Number(router.currentRoute.value.params.id);
    await createCommentaire(comm.value);
    window.location.reload();
}

const { InitialCommentaire } = defineProps<{
    InitialCommentaire?: Commentaire
}>();

Object.assign(comm.value, InitialCommentaire)

</script>
