<template>
    <form class="card container p-5" @submit.prevent="handleSubmit()">
        <div class="mb-3">
            <label for="titre" class="form-label">Titre : </label>
            <input type="textarea" v-model="article.titre" class="form-control" minlength="1" maxlength="63" id="titre"
                placeholder="Type here...">
        </div>
        <div class="my-3">
            <label for="auteur" class="form-label">Auteur : </label>
            <input type="textarea" v-model="article.auteur" class="form-control" minlength="1" maxlength="63"
                id="auteur" placeholder="Type here...">
        </div>
        <div class="my-3">
            <label for="contenu" class="form-label">Contenu : </label>
            <textarea type="textarea" v-model="article.contenu" class="form-control" minlength="1" maxlength="1499"
                rows="10" id="contenu" placeholder="Type here..."></textarea>
        </div>
        <div class="my-3">
            <label for="image" class="form-label">Image : </label>
            <input type="textarea" class="form-control" v-model="article.image" minlength="1" maxlength="254" id="image"
                placeholder="Type the URL here...">
        </div>
        <div class="categorie d-flex align-items-center">
            <div class="dropdown my-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Catégories
                </button>
                <ul class="dropdown-menu">
                    <li v-for="item of CategorieList"><button @click.prevent="categorieId = item.id"
                            class="dropdown-item">{{ item.nom }}</button></li>
                </ul>
            </div>
            <div class="p-3">
                {{ CategorieList[categorieId - 1]?.nom }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</template>


<script setup lang="ts">
import type { Categorie, Article } from '@/entities';
import { fetchAllCategorie } from '@/service/categorie-service';
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';

const CategorieList = ref<Categorie[]>([]);
onMounted(async () => {
    CategorieList.value = await fetchAllCategorie();
});
let categorieId = ref();
categorieId.value = 1;

let article = ref<Article>(
    {
        titre: "",
        contenu: "",
        auteur: "",
        date: "",
        image: "",
        likes: 0,
        dislikes: 0,
        categorieId: 1,
    }
);

const router = useRouter();

const emit = defineEmits<{
    submit: [article: Article]
}>();

const { initialArticle } = defineProps<{
    initialArticle?: Article
}>();

async function handleSubmit() {
    article.value.categorieId = categorieId.value
    emit('submit', article.value);
}

Object.assign(article.value, initialArticle);

</script>

<style scoped>
textarea {
    resize: none;
}

.card{
    margin-top: 10vh
}
</style>