<template>
    <div class="card my-2" style="width: 18rem;">
        <router-link :to="'/article/'+article.id" id="RouterLink">
            <img :src="article.image" class="card-img-top" height="450px">
            <div class="card-body">
                <p class="card-text"><small class="text-body-secondary">{{ article.auteur }}</small></p>
                <h5 class="card-title">{{ article.titre }}</h5>
                <p class="card-text content">{{ article.contenu }}</p>
                <p class="card-text"><small class="text-body-secondary">{{ article.date }}</small></p>
            </div>
        </router-link>
    </div>

</template>

<script setup lang="ts">
import type { Article } from '@/entities';

defineProps<{
    article: Article
}>();

</script>



<style scoped>
.card {
    background-color: #FAEBFF;
    max-height: 80vh;
}

img {
    object-fit: cover;
}

#RouterLink{
    text-decoration: none;
    color: black;
}

.content{
    max-height: 15vh;
    overflow: hidden !important;

    text-overflow: ellipsis;

}

</style>