<template>

    <div v-if="editing">
        <ArticleForm :initialArticle="article" @submit="handleSubmit($event)" />
        <button class="btn btn-secondary" @click="editing = !editing">back</button>

    </div>

    <div class="d-flex justify-content-center" v-if="!editing">
        <div class="row card">
            <div class=" col-12 d-flex flew-row">
                <img :src="article?.image" class="card-img-top">
                <div class="card-body">
                    <main>
                        <p class="card-text"><small class="text-body-secondary"><b>Créateur</b> : {{ article?.auteur }},
                                <b>Catégorie</b> : {{ CategorieList.find(item => item.id == article?.categorieId)?.nom
                                }}</small></p>
                        <h5 class="card-title">{{ article?.titre }}</h5>
                        <p class="card-text">{{ article?.contenu }}</p>
                        <p class="card-text"><small class="text-body-se condary">{{ article?.date }}</small></p>
                    </main>
                    <footer class="mesBoutton">
                        {{ article?.likes }}
                        <a @click="like()">
                            <i class="bi plus bi-hand-thumbs-up"></i>
                        </a>
                        {{ article?.dislikes }}
                        <a @click="dislike()">
                            <i class="bi moins bi-hand-thumbs-down"></i>
                        </a>
                        <button type="button" class="btn btn-danger" @click="handleDelete()">Supprimer</button>
                        <button type="button" class="btn btn-secondary" @click="editing = !editing">Modifier</button>

                    </footer>
                </div>
            </div>
        </div>
    </div>
</template>




<script setup lang="ts">
import { addDisLike, addLike, deleteArticle, fetchOneArticle, updateArticle } from '@/service/article-service';
import type { Article } from '@/entities';
import { onMounted, ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import ArticleForm from '@/components/ArticleForm.vue';

const article = ref<Article>();

const route = useRoute()


const router = useRouter();

watch(() => route.params.id, async () => {
    article.value = await fetchOneArticle(route.params.id);
}, { immediate: true });

async function handleDelete() {
    await deleteArticle(article.value?.id);
    router.push('/articles');
}


import type { Categorie } from '@/entities';
import { fetchAllCategorie } from '@/service/categorie-service';

const CategorieList = ref<Categorie[]>([]);
onMounted(async () => {
    CategorieList.value = await fetchAllCategorie();
});

async function like() {
    if(article.value?.likes){
        article.value.likes += 1;
    }
    await addLike(route.params.id);
    article.value = await fetchOneArticle(route.params.id)
}


async function dislike() {
    if(article.value?.dislikes){
        article.value.dislikes += 1;
    }
    await addDisLike(route.params.id);
    article.value = await fetchOneArticle(route.params.id)
}


async function handleSubmit(updated: Article) {
    console.log(updated);
    await updateArticle(updated);
    article.value = updated
    editing.value = !editing.value;
}

const editing = ref(false);
</script>


<style scoped>
a:hover {
    cursor: pointer;
}

.card {
    width: 80vw;
    min-height: 80vh;
    margin-top: 45px;
    padding-top: 20px;
}

img {
    width: 40vw;
    height: 75vh;
    padding-right: 50px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body button {
    margin: 0 5px;
}

.bi {
    padding: 5px 10px;
    border-radius: 5px;
    border: .1px solid black;
    margin: 0 5px;
}

.mesBoutton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.plus {
    background-color: rgb(233, 245, 255);
}

.moins {
    background-color: rgb(255, 229, 229);
}

.card-text {
    width: 35vw;
}
</style>