<template>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catégories
        </a>
        <ul class="dropdown-menu">
            <li v-for="item of CategorieList"><router-link class="dropdown-item" :to="`/sort/${item.id}`">{{ item.nom }}</router-link></li>

        </ul>
    </li>
</template>

<script setup lang="ts">
import type { Categorie } from '@/entities';
import { fetchAllCategorie } from '@/service/categorie-service';
import { onMounted, ref } from 'vue';

const CategorieList = ref<Categorie[]>([]);
onMounted(async () => {
    CategorieList.value = await fetchAllCategorie();
});
</script>