<template>
    <div class="d-flex justify-content-center">
        <div class="content card d-flex justify-content-between flex-row">
            <AddCommentaire />
            <div id="allComm">
                <div v-for="commentaire in commentaires" :key="commentaire.id">
                    <div v-if="editingCommentaireId === commentaire.id">
                        <EditCommentaire :commentaire="commentaire" @save="handleSave" @cancel="cancelEdit"/>
                    </div>
                    <div v-else class="commentaire d-flex flex-column align-items-between justify-content-end">
                        <div class="info">
                            <div class="ifo-mini d-flex in1">
                                <p class="px-1 ">by : <b>{{ commentaire.auteur }}</b></p>
                                <p class="px-1 " style="font-size: smaller;">{{ commentaire.date }}</p>
                            </div>
                            <p class="p-0 in2">{{ commentaire.contenu }}</p>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Options
                            </button>
                            <ul class="dropdown-menu">
                                <li><button type="button" class="dropdown-item" @click="handleDelete(commentaire)"
                                        style="background-color: #ffcbcb;">Supprimer</button></li>
                                <li><button type="button" class="dropdown-item"
                                        @click="handleChange(commentaire.id)">Editer</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import type { Commentaire } from '@/entities';
import { ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { deleteCommentaire, fetchAllCommentairesbyArticleId, updateCommentaire } from '@/service/commentaire-service';
import AddCommentaire from './AddCommentaire.vue';
import EditCommentaire from './EditCommentaire.vue';

const commentaires = ref<Commentaire[]>([]);
const emits = defineEmits(['commentaireDeleted']);

const route = useRoute();
const editingCommentaireId = ref<number | null>(null);

watch(() => route.params.id, async () => {
    commentaires.value = await fetchAllCommentairesbyArticleId(route.params.id);
}, { immediate: true });

async function handleDelete(commentaire: Commentaire) {
    await deleteCommentaire(commentaire.id);
    window.location.reload();
}

function handleChange(commentaireId: number | undefined) {
    if (commentaireId !== undefined) {
        editingCommentaireId.value = commentaireId;
    }
}

function cancelEdit() {
    editingCommentaireId.value = null;
}

async function handleSave(updatedCommentaire: Commentaire) {
    await updateCommentaire(updatedCommentaire);
    commentaires.value = await fetchAllCommentairesbyArticleId(route.params.id);
    editingCommentaireId.value = null
    
}

</script>

<style scoped>
#allComm {
    overflow-y: scroll;
}

.in1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.card {
    width: 80vw;
    padding: 2.5vw;
    margin-top: 45px;
    margin-bottom: 45px;
    justify-content: center;
}

.ifo-mini p {
    margin: 0;
    padding: 0;
}

.commentaire {
    width: 35vw;
    border: .1px solid black;
    padding: 10px 10px;
    padding-bottom: 20px;
    margin: 15px 0;
    margin-right: 20px;
}

.content {
    height: 90vh

}

</style>
