<template>
    <div>
        <form @submit.prevent="handleSubmit">
            <label>
                Auteur :
                <input class="form-control" v-model="editedCommentaire.auteur" type="text" required>
            </label>
            <label>
                Contenu :
                <textarea class="form-control" v-model="editedCommentaire.contenu" rows="5" required></textarea>
            </label>
            <div class="buttons">
                <button class="btn btn-primary" type="submit">Enregistrer</button>
                <button class="btn btn-secondary" @click="cancelEdit">Annuler</button>
            </div>
        </form>
    </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';
import { ref } from 'vue';
import type { Commentaire } from '@/entities';
import { useRoute, useRouter } from 'vue-router';

const editedCommentaire = ref<Commentaire>({ auteur: '', contenu: '', date: '', articleId: 0 });

const { commentaire } = defineProps<{
    commentaire: Commentaire
}>();


Object.assign(editedCommentaire.value, commentaire);

const emits = defineEmits(['save', 'cancel']);
const router = useRouter();

function handleSubmit() {
    emits('save', editedCommentaire.value);
}

function cancelEdit() {
    emits('cancel');
    console.log('test cancel');
}
</script>


<style scoped>
.form-control {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 35vw;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
</style>
