<template>
    <nav class="navbar navbar-expand-lg py-4 px-5" data-bs-theme="dark">
        <div class="container-fluid">
            <router-link class="navbar-brand" to="/">MUSIC'</router-link>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <router-link class="nav-link active" aria-current="page" to="/">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/articles">Articles</router-link>
                    </li>
                    <Categorie />
                    <li class="nav-item" v-if="auth.user">
                        <router-link class="nav-link" to="/article/form">New +</router-link>
                    </li>
                </ul>
                <RouterLink class="nav-link m-3" v-if="!auth.user" to="/login" >Se connecter</RouterLink>
                <button class="nav-link m-3" v-if="auth.user" @click="auth.logout()">Se déconnecter</button>
                <form class="d-flex" role="search" @submit.prevent="filteredList">
                    <input class="form-control mots me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="width: 85vw;">
        <main v-if="hadSearch" class="row">
            <h2 style="color: white;">Resultat de recherche :</h2>
            <div class="card-group col col-xl-3 col-lg-4 col-md-6 " v-for="item of result">
                <ArticleCard :article="item" />
            </div>
        </main>
    </div>

</template>
<script setup lang="ts">
import Categorie from '@/components/Categorie.vue';
import type { Article } from '@/entities';
import { fetchAllArticles } from '@/service/article-service';
import { ref, watch } from 'vue';
import ArticleCard from './ArticleCard.vue';
import { useRoute } from 'vue-router';
import { useAuth } from '@/stores/auth';

const ArticleList = ref<Article[]>([]);
const hadSearch = ref(false);

const auth = useAuth();


const result = ref<Article[]>([]);
async function filteredList() {
    const mots = document.querySelector<HTMLInputElement>(".mots");
    result.value = []
    hadSearch.value = true;
    if (mots && mots.value != "") {
        ArticleList.value.forEach(art => {
            if (art.titre.toLowerCase().includes(mots?.value.toLowerCase()) || art.contenu.toLowerCase().includes(mots?.value.toLowerCase()))
                result.value.push(art)
        });
        mots.value = ""
    } else {
        hadSearch.value = false;
    }
}

const route = useRoute()


watch(() => route.params, async () => {
    ArticleList.value = await fetchAllArticles();
    hadSearch.value = false;
});

</script>


<style scoped>
.navbar {
    color: white;
    background-color: #1B0324;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}


main {
    margin-top: 15vh;
    margin-bottom: 10vh;
}
</style>