<template>
  <Header />
  <main>
    <RouterView class="routerview"/>
  </main>

</template>


<script setup lang="ts">
import Header from '@/components/Header.vue';
import { RouterView } from 'vue-router';

</script>

<style scoped>
.routerview{
  border-top: .1px solid white;
  padding-top: 5vh;
}
</style>